//base colors

$primaryColor: #4a4a4a;
$secondaryColor: #8b9497;
$accentColor: #ff6d00;
$whiteColor: #fff;
$shadow: 0 1px 4px 0 rgba(91, 137, 164, 0.25);
$borderRadius: 5px;
$borderColor: #eceff1;
$blueColor: #2196f3;

@mixin main-font($weight) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
}



// Responsive settings
$tablet: 992px;
$tablet-small: 670px;
$mobile: 480px;

@mixin tablet {
  @media only screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-small {
  @media only screen and (max-width: #{$tablet-small}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
